<!DOCTYPE html>
<html>
  <head>
    <title>TrabalhoEsi</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>

    <header style="padding: 10px; background-color: #f0f0f0; margin-bottom: 20px; border-bottom: 1px solid #ccc;">
      <% if user_signed_in? %>
        <span>Olá!</span> |
        <%= link_to "Sair", destroy_user_session_path %>
      <% else %>
        <%= link_to "Entrar", new_user_session_path %> |
        <%= link_to "Registrar um novo usuário", new_user_registration_path %>
      <% end %>
    </header>

    <p class="notice" style="color: green;"><%= notice %></p>
    <p class="alert" style="color: red;"><%= alert %></p>

    <%= yield %>

  </body>
</html>